@import url('https://fonts.googleapis.com');


:root {
    --text-color: lab(100 0 0);
    --heading: lab(2.42 -0.16 -0.47);
    --subheading: lab(2.42 -0.16 -0.47/0.8);
    --secondary-text-color: lab(51.34 -41.56 15.35);
    --border-color: #cfcbcb;
}

@font-face {
    font-family: interval;
    src: url("./fonts/InterVariable-s.p.494bb210.ttf");
}

@font-face {
    font-family: font2;
    src: url("./fonts/font2.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "interval";
}

body {
    background-color: #ffffff;
}

.image-section {
    padding: 14px 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/bg-light.png");
}


nav {
    padding: 14px 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h1 {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 70px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-btns {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-btns button:nth-child(1) {
    background-color: lab(100 0 0 / 0.05);
    border: none;
    outline: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 20px;
    color: lab(100 0 0);
    font-size: 14px;
    font-weight: 500;
}

.nav-btns button:nth-child(2) {
    background-color: var(--text-color);
    border: none;
    outline: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    color: lab(2.42 -0.16 -0.47);
    font-weight: 500;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.badge {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: lab(2.42 -0.16 -0.47/ 0.15);
    padding: 4px 10px 4px 4px;
    border-radius: 20px;
}

.badge span {
    background-color: lab(51.43 -41.56 15.35);
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.badge p {
    font-size: 14px;
    font-weight: 500;
}

.badge i {
    font-size: 10px;
    padding: 2px;
    background-color: #fff;
    color: #111;
    border-radius: 50%;
}

.hero-heading h1 {
    margin-top: 40px;
    font-size: 58px;
    text-align: center;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: lab(100 0 0);
}

.hero-heading p {
    margin-top: 30px;
    color: lab(100 0 0);
    text-align: center;
    width: 500px;
    line-height: 1.5;
    font-size: 17px;
}

.hero-email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lab(100 0 0/0.15);
    margin-top: 30px;
    padding: 4px;
    border-radius: 30px;
    border: 1px solid #e0dddd3a;
}

.hero-email-input input {
    background-color: transparent;
    outline: none;
    border: none;
    color: lab(100 0 0);
    padding: 0 10px;
    font-weight: 600;
    min-width: 250px;
}

.hero-email-input input::placeholder {
    color: #e0dddda0
}

.hero-email-input button {
    background-color: var(--text-color);
    border: none;
    outline: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    color: lab(2.42 -0.16 -0.47);
    font-weight: 500;
}

.hero-section img {
    margin-top: 100px;
    border-radius: 20px;
    color: transparent;
    width: 100%;
}

.company-partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    place-items: center;
    margin-top: 100px;
    padding: 14px 17rem;
}

.feature-section {
    margin-top: 200px;
    padding: 14px 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-section h2 {
    font-size: 38px;
    font-weight: 600;
}

.feature-section p {
    text-align: center;
    margin-top: 16px;
    line-height: 1.5;
}

.feature-section h3 {
    color: var(--heading);
}

.feature-section .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-section article {
    border: 1px solid lab(2.24 -0.16 -0.47/0.07);
    border-radius: 20px;
    margin-top: 50px;
    padding: 1rem 2rem;
}

article .feature-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.feature-heading p:nth-child(1) {
    font-family: "font2";
    font-size: 13px;
    color: var(--secondary-text-color);
}

article .feature-heading h3 {
    margin: 10px 0;
    color: var(--heading);
    font-size: 24px;
    font-weight: 500;
}

.feature-sub-heading {
    color: var(--subheading);

}

article .feature-heading p {
    text-align: start;
}

article img {
    width: 100%;
    margin-top: 40px;
}

.ui-preview-section {
    padding: 14px 15rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preview-card {
    border: 1px solid lab(2.24 -0.16 -0.47/0.07);
    border-radius: 20px;
    width: 100%;
    padding: 50px;
}

.preview-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-heading p:nth-child(1) {
    color: var(--secondary-text-color);
    font-family: "font2";
    font-size: 13px;
}

.preview-heading h4 {
    color: var(--heading);
    margin: 20px;
    font-size: 24px;
    font-weight: 500;
}

.preview-heading p:nth-child(3) {
    color: var(--subheading);
    line-height: 1.5;
}

.preview-card video {
    margin-top: 30px;
    width: 100%;
}

.enterptise-feature-section {
    margin-top: 120px;
    padding: 6rem 15rem;
    background-color: lab(2.42579% -.165291 -.470081/.03)
}

.enterprise-heading {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.enterprise-heading .title h4 {
    color: var(--secondary-text-color);
    font-size: 12px;
    font-family: "font2";
    font-weight: 500;
}

.enterprise-heading .title h3 {
    color: var(--heading);
    font-size: 38px;
    font-weight: 600;
    margin: 18px 0;
}

.enterprise-heading .title p {
    color: var(--subheading);
}

.enterprise-heading button {
    background-color: var(--heading);
    color: lab(100% 0 0);
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.enterprise-blocks {
    margin-top: 70px;
}

.enterprise-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.enterprise-blocks svg {
    width: 30px;
}

.enterprise-blocks h4 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--heading);
}

.enterprise-blocks p {
    color: var(--subheading);
    line-height: 1.5;
}

.enterprise-img {
    margin-top: 80px;
    background-image: url("./assets/095_anthropic.svg");
    background-size: cover;
    width: 100%;
    padding: 60px;
    border-radius: 30px;
}

.enterprise-top-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.enterprise-top-txt p {
    font-family: "font2";
    font-size: 12px;
    font-weight: 600;
}

.enterprise-top-txt h3 {
    font-size: 24px;
    font-weight: 500;
}

.enterprise-top-txt span {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.enterprise-bottom-txt {
    margin-top: 140px;
    color: #fff;
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.enterprise-bottom-txt p:nth-child(1) {
    font-size: 40px;
}

.enterprise-bottom-txt p:nth-child(2) {
    color: #bdb9b9;
    font-size: 14px;
}

.enterprise-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 40px;
    align-content: center;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.customer-section {
    margin-top: 50px;
    padding: 5rem 15rem;
}

.customer-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer-heading p:nth-child(1) {
    color: var(--secondary-text-color);
    font-size: 13px;
    font-family: "font2";
    font-weight: 500;
}

.customer-heading h2 {
    color: var(--heading);
    font-size: 38px;
    margin: 14px 0;
}

.customer-heading p:nth-child(3) {
    color: var(--subheading);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.customer-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 40px;
    overflow-x: auto;
    margin-right: -14rem;
    scrollbar-width: none;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./www.mintlify.com-1770110013475/087_image.png");
    height: 290px;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.customer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company-txt p {
    color: var(--subheading);
    font-weight: 400;
}

.company-txt a {
    color: lab(2.42 -0.16 -0.47/0.5);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.company-txt a:hover {
    color: var(--secondary-text-color);
}



.slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 14px;
}

.slider-arrow span {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: lab(2.42579% -.165291 -.470081)
}

.slider-arrow span:nth-child(1) {
    background-color: #838484
}

.cta-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 15rem;
}

.cta-heading-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cta-heading-section h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: var(--heading);
}

.cta-heading-section p {
    margin-top: 20px;
    color: var(--heading);
}

.cta-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.cta-btns button:nth-child(1) {
    background-color: var(--heading);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    border: none;
}

.cta-btns button:nth-child(2) {
    background-color: transparent;
    color: var(--heading);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    border: 1px solid lab(2.42579% -.165291 -.470081/.15);
}

.cta-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    margin-top: 100px;
}

.cta-cards article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.svg-container {
    background-color: transparent;
    padding: 10px;
    width: 54px;
    height: 54px;
    border: 1px solid lab(2.42579% -.165291 -.470081/.15);
    border-radius: 1rem;
}

.cta-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-section1 h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.cta-section1 p {
    margin-top: 10px;
}

.cta-section1 a {
    text-decoration: none;
    margin-top: 30px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 15px;
}

footer {
    margin-top: 150px;
    padding: 14px 15rem;
    border-top: 1px solid #ece6e6;
    background-color: #f7f7f7;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

footer .logo h1 {
    font-size: 22px;
    color: var(--heading);
}

.footer-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem 2rem 2rem;
    border-top: none;
    margin-top: -10px;
}

.social-logos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-logos a {
    text-decoration: none;
    color: #838484;
}

.footer-links-section {
    display: flex;
    align-items: start;
    justify-content: space-around;

    padding: 3rem 0 5rem 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.nav-links h3 {
    color: #7f8080;
    font-size: 14px;
    font-weight: 600;
}

.nav-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.nav-links a {
    color: var(--heading);
    text-decoration: none;
    font-size: 14px;
}

.footer-badge {
    display: flex;
    align-items: center;
    padding: 16px 2rem;
}

.footer-badge p {
    font-size: 14px;
    font-weight: var(--heading);
}

.footer-badge img {
    width: 80px;
}

.copyright-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 2rem 70px 2rem;
}

.copyright-section a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--heading);
    font-size: 14px;
    padding: 6px 12px;
    gap: 4px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
}

.copyright-section a svg {
    width: 12px;
}

.copyright-txt p {
    color: #7f8080;
    font-size: 14px;
}

.theme-btn {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 4px;
    gap: 6px;
    border-radius: 30px;
}

.theme-btn button {
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 12px;
    background-color: transparent;
}

.theme-btn button:nth-child(2) {
    background-color: #fff;
}