* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.input-box {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #2a2a2a;
    color: white;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    background: #2a2a2a;
    border-radius: 6px;
    font-size: 14px;
    min-height: 36px;

}

.todo-container input {
    height: 100%;
    padding: 6px 8px;
}

.delete {
    background: #e53935;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.confirmbtn {
    background: #35aae5;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.confirmbtn:hover {
    background: #3097ca;
}

.delete:hover {
    background: #c62828;
}